
.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    margin: 2px;

    &:focus{
        outline: none;
    }

   

}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 15)
    }
}

.btn-barcos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 2px;
    height: 20px;

    &:focus{
        background-color: darken($color: $primary, $amount: 10);
    }

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 15)
    }
}

.btn-block{
    width: 100%;
}